.kip-wrapper {
  position: relative;
  display: flex;
  background-image: url("./kip.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 620px;

  .col1 {
    left: 480px;
  }

  .col2 {
    left: 570px;
  }

  .col3 {
    left: 647px;
  }

  .col4 {
    left: 707px;
  }

  .col5 {
    left: 768px;
  }

  ._3a {
    top: 76px;
  }
  ._4a {
    top: 94px;
  }
  ._5a {
    top: 113px;
  }
  ._6a {
    top: 131px;
  }
  ._8a {
    top: 150px;
  }
  ._9a {
    top: 168px;
  }
  ._10a {
    top: 187px;
  }
  ._11a {
    top: 206px;
  }
  ._13a {
    top: 224px;
  }
  ._14a {
    top: 242px;
  }
  ._12a {
    top: 261px;
  }
  ._22a {
    top: 279px;
  }
  ._23a {
    top: 298px;
  }
  ._25a {
    top: 317px;
  }
  ._26a {
    top: 335px;
  }
  ._27a {
    top: 353px;
  }
  ._28a {
    top: 372px;
  }

  .onoff-col1 {
    width: 52px;
    left: 370px;
  }

  .onoff-col2 {
    width: 52px;
    left: 660px;
  }

  .onoff-col3 {
    width: 53px;
    left: 916px;
  }

  .onoff-row1 {
    top: 439px;
  }

  .onoff-row2 {
    top: 464px;
  }

  .onoff-row3 {
    top: 489px;
  }

  .onoff-row4 {
    top: 514px;
  }

  .onoff-row5 {
    top: 539px;
  }

  .onoff-row6 {
    top: 564px;
  }

  .onoff-row7 {
    top: 589px;
  }
}
