@import "variables.scss";

.journal-wrapper {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  font-weight: 400;
  color: gray;

  #alert {
    position: absolute;
    right: 0;
    font-size: 1rem;
    z-index: 0;
  }

  .title {
    margin-bottom: 0;
  }

  .subtitle {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }

  .btn {
    z-index: 0 !important;
  }

  .controls {
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 0.5rem;

    .navigation {
      display: grid;
      grid-template-columns: 0.5fr 1.5fr 1.5fr 2fr 2fr;
      grid-template-rows: 0.5fr 1fr;
      grid-template-areas:
        "reset-title from-title to-title operation-title heat-title"
        "reset from to operation heat";

      .input-group {
        flex-wrap: nowrap;
        .form-control:first-child {
          width: 140px;
        }
        .form-control:last-child {
          width: 90px;
        }
      }

      span {
        font-size: 0.7rem;
        text-transform: uppercase;
      }
    }

    #loading {
      top: -2rem;
      right: 0;
    }
  }

  table {
    background-color: white;
    font-size: 0.8rem;

    tr {
      display: grid;
      grid-template-columns: 90px 80px 1fr 100px 100px;
      grid-template-rows: auto;
    }

    thead tr {
      display: grid;
      grid-template-columns: 90px 80px 1fr 100px 117px;
    }

    thead {
      background-color: #e9ecef;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 0.7rem;

      th {
        border-top: 0;
        border-bottom: 0;
      }

      th + th {
        border-left: 1px solid lightgray;
      }
    }

    tbody {
      display: block;
      max-height: 55vh;
      overflow-y: scroll;

      td + td {
        border-left: 1px solid whitesmoke;
      }
    }

    th,
    td {
      padding: 0.2rem 1rem;
      font-weight: inherit;
    }
  }
}
