$section-transition: opacity 0.2s;
$manager-color: darkgoldenrod;
$admin-color: rgb(71, 146, 231);
$primary: grey;
$param-color: #3174bb;
$state-idle: rgba(245, 245, 220, 0.452);
$state-process: lighten(lightgreen, 20%);
$state-preset: yellow;
