@import "variables.scss";

.main-wrapper {
  position: relative;
  display: flex;
  background-image: url("./overview.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 620px;

  .link-to-air {
    position: absolute;
    right: 0.5rem;
  }

  .link-to-dryer {
    position: absolute;
    top: 295px;
    left: 210px;
  }

  .link-to-details1 {
    position: absolute;
    top: 295px;
    left: 837px;
  }

  .link-to-details2 {
    position: absolute;
    top: 295px;
    left: 624px;
  }

  .link-to-details3 {
    position: absolute;
    top: 295px;
    left: 409px;
  }
}
