@import "variables.scss";

.overview-wrapper {
  //max-height: 80vh;
  //overflow-y: scroll !important;

  .arm-overview {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
      "ccmArm1 ccmArm2 gega"
      "fda mbps none1"
      "akpArm1 akpArm2 hiReg"
      "vdArm1 vdArm2 vdArm3";

    .card {
      padding: 3px;
      border-radius: 3px;
      background-color: #e9ecef;
      border: 1px solid #e9ecef;
      overflow: hidden;
      cursor: pointer;
      height: 100%;

      span {
        background-color: #e9ecef;
        text-transform: uppercase;
        font-size: 0.9rem;
        color: gray;
        padding: 0.2rem 0.5rem;
        border-bottom: 0;
      }

      img {
        max-width: 100%;
        border-top: 0;
      }

      &:hover {
        box-shadow: 0 0 20px $primary;
      }
    }
  }
}

.arm-wrapper {
  margin-left: 1.55rem;
  display: grid;
  grid-template-areas: "back title" "arm arm";
  grid-template-columns: 100px 1fr;
  grid-template-rows: 2.5rem 1fr;

  img {
    max-width: 93%;
    grid-row: 2/2;
  }

  a {
    margin-top: 0.7rem;
  }

  span {
    color: gray;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.7rem;
  }
}
