@import "variables.scss";

.list-wrapper {
  position: relative;
  height: 100%;
  display: grid;
  grid-template-columns: minmax(400px, 1fr) 1fr;
  grid-template-rows: 60px 70px 52px 1fr;
  grid-template-areas:
    "title title"
    "files files"
    "navigation filter"
    "main main";

  .title {
    grid-area: title;
  }

  #loading {
    top: inherit;
    bottom: -30px;
  }

  .files {
    grid-area: files;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
  }

  .blank {
    grid-area: blank;
  }

  .main {
    grid-area: main;
    padding-top: 1rem;
    display: grid;
    grid-template-rows: 1.5rem 1fr;
    grid-gap: 0.5rem;

    .main-title {
      font-size: 1.2rem;
      font-weight: 500;
    }
  }

  .navigation {
    grid-area: navigation;
    display: grid;
    grid-template-columns: 150px 150px 50px 1fr 50px;
    grid-template-rows: 1.3rem 1fr;
    grid-template-areas:
      "date-title shift-title none none none"
      "date shift none1 controls none2";
  }

  .filter {
    grid-area: filter;
    min-width: 400px;
    display: grid;
    grid-template-rows: 1.3rem 1fr;
    grid-template-areas: "filter-title" "filter-main";
    justify-items: end;
  }

  span {
    color: gray;
    font-size: small;
  }

  table {
    background-color: white;
    box-shadow: 0 3px 5px lightgray;

    th {
      background-color: $param-color;
      color: white;
      font-weight: 100;
    }
  }
}
