.VOD {
  tr {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1.45fr 0.8fr 0.7fr 0.8fr 0.8fr 1fr 1fr 1fr 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr;
  }

  td {
    text-align: center;
  }
}
