.cam-akos-wrapper {
  display: grid;
  grid-template-areas: "title alert" "cam cam";
  grid-template-columns: auto;
  grid-template-rows: 50px 1fr;
  padding: 1.5rem;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s ease-in;

  img {
    max-height: 75vh;
  }
}
