#AF {
  width: 50%;
  padding: 1rem 0.5rem;
  display: flex;

  svg {
    height: 140px;
  }

  #arcs {
    display: none;
  }

  #electrodes {
    fill: #000000;
    transform: translate(0, -2px);
  }

  #metal {
    fill: #eaad12;
    stroke: none;
  }

  #gate {
    fill: #999999;
    stroke: #000000;
  }

  #basement {
    fill: #999999;
  }

  #backstage {
    fill: #8a0b0b;
  }

  #drainmetal {
    display: none;
  }

  &.energy {
    #arcs {
      display: initial;
      fill: url(#arcGradient);
      stroke: none;
    }

    #electrodes {
      fill: url(#electrodeGradient);
      stroke: none;
      transform: translate(0, 0);
    }

    #metal {
      animation: blinking 1s infinite;
    }
  }

  &.empty {
    #electrodes {
      fill: #000000;
      transform: translate(0, -2px);
    }

    #arcs {
      display: none;
    }

    #metal {
      display: none;
    }

    #backstage {
      fill: #999999;
    }
  }

  &.flush-steel {
    svg {
      transform-box: view-box;
      transform-origin: 50% 50%;
      transform: rotateZ(29deg) scale(0.95) translate(0, -0px);
    }

    #metal {
      display: none;
    }

    #drainmetal {
      fill: #eaad12;
      stroke: none;
      display: initial;
    }

    #gate {
      display: none;
    }
  }

  &.flush-slag {
    svg {
      transform-box: view-box;
      transform-origin: 50% 50%;
      transform: rotateZ(-15deg) scale(0.95) translate(0, -0px);
    }

    #metal {
      fill: darken(gold, 20%) !important;
      transform: rotateZ(5deg) scaleY(0.8) translate(0, 3px) !important;
      z-index: -1;
    }

    #drainmetal {
      display: none;
    }

    #gate {
      display: none;
    }
  }

  &.filling {
    #metal {
      fill: #000;
      transform: scale(0.95, 0.6) translate(0, 15px);
      animation: none;
    }

    &.energy {
      #arcs {
        display: initial;
        fill: url(#arcGradient);
        stroke: none;
      }

      #metal {
        fill: darken(gold, 20%);
        position: relative;
      }

      #electrodes {
        fill: url(#electrodeGradient);
        stroke: none;
        transform: translate(0, 0);
      }
    }
  }
}

@keyframes blinking {
  0% {
    fill: url(#metalGradient2);
  }

  25% {
    fill: url(#metalGradient1);
  }

  50% {
    fill: url(#metalGradient);
  }

  75% {
    fill: url(#metalGradient1);
  }

  100% {
    fill: url(#metalGradient2);
  }
}

@media (max-height: 900px) {
  #AF svg {
    height: 100px;
  }
}
