@import "variables.scss";

.summary-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 10px;

  .summary-field {
    display: grid;
    grid-template-columns: 1fr auto;
    border-top: 1px solid white;

    & > div {
      padding: 0.2rem 0.5rem;
    }

    & > div:nth-child(2) {
      background-color: darken(white, 3%);
      font-weight: 500;
    }
  }
}
