@import "variables.scss";

.diagnostic-wrapper {
  position: relative;
  display: grid;
  grid-column-gap: 2rem;
  grid-template-columns: 1.52fr 1fr 1fr;
  grid-template-rows: 70px 1fr;
  grid-template-areas: "title title title" "localhost service controls";
  font-weight: 400;
  color: gray;

  #alert {
    position: absolute;
    right: 0;
    font-size: 1rem;
    z-index: 0;
  }

  h2 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.5rem;
    color: black;
  }

  .title {
    grid-area: title;
  }

  table {
    background-color: white;
    font-size: 0.9rem;

    thead {
      background-color: #e9ecef;
      text-transform: uppercase;
      font-weight: 500;
      border-top: 0;
    }

    td:first-child {
      background-color: #e9ecef !important;
    }

    th,
    td {
      padding: 0.2rem 1rem;
      font-weight: inherit;
    }
  }

  .localhost {
    position: relative;
    display: flex;
    flex-flow: column;
    grid-area: localhost;

    #loading {
      top: 1rem;
    }
  }

  .service {
    grid-area: service;
    position: relative;

    .ok {
      background-color: rgb(226, 255, 183);
      color: green;
    }

    .fail {
      background-color: rgb(255, 211, 195);
      color: red;
    }

    #loading {
      top: 1rem;
    }
  }

  .controls {
    grid-area: controls;
  }
}
